pyyaml
pillow
openpyxl
sas7bdat
redis
matplotlib
tqdm
tflearn
h5py==2.9.0
scipy
tensorflow==1.14.0
opencv-python
scikit-learn
urllib3[secure]
numpy
quantumrandom
tensorflow_datasets
xlrd
https://github.com/jackd/gin-config/zipball/tf2#egg=gin-config
https://github.com/SamuelMarks/MNet_DeepCDR/zipball/setup#egg=mnet_deep_cdr
git+https://github.com/qubvel/efficientnet
