pyyaml
pillow
openpyxl
sas7bdat
redis
matplotlib
tqdm
tflearn
h5py==2.9.0
scipy
#tensorflow==1.14.0 # omitting because you should pick `tensorflow-gpu` or compile your own (compile preferred)
opencv-python
scikit-learn
urllib3[secure]
numpy
quantumrandom
tensorflow_datasets
xlrd
pydot
https://github.com/jackd/gin-config/zipball/tf2#egg=gin-config
https://github.com/SamuelMarks/MNet_DeepCDR/zipball/setup#egg=mnet_deep_cdr
https://github.com/SamuelMarks/efficientnet/zipball/tf-no-attribute-fix#egg=efficientnet
https://github.com/SamuelMarks/keras-squeeze-excite-network/zipball/master#egg=keras-squeeze-excite-network
pyyaml
# torch==1.17.2
torchvision==0.4.1
